<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.system.mapper.CheckingStoreMapper" >
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.CheckingStore" >
    <id column="detailid" property="detailid" jdbcType="VARCHAR" />
    <result column="mianid" property="mianid" jdbcType="VARCHAR" />
    <result column="checkingdate" property="checkingdate" jdbcType="VARCHAR" />
    <result column="checkingstatus" property="checkingstatus" jdbcType="INTEGER" />
    <result column="supplierid" property="supplierid" jdbcType="VARCHAR" />
    <result column="suppliername" property="suppliername" jdbcType="VARCHAR" />
    <result column="paymethod" property="paymethod" jdbcType="VARCHAR" />
    <result column="validmoney" property="validmoney" jdbcType="DECIMAL" />
    <result column="storebalance" property="storebalance" jdbcType="DECIMAL" />
    <result column="rechargemoney" property="rechargemoney" jdbcType="DECIMAL" />
    <result column="storeordersmoney" property="storeordersmoney" jdbcType="DECIMAL" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="cancel_flag" property="cancelFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    detailid, mianid, checkingdate, checkingstatus, supplierid, suppliername, paymethod, 
    validmoney, storebalance, rechargemoney, storeordersmoney, created_time, update_time, 
    cancel_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hrfi_checkingstore_log
    where detailid = #{detailid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hrfi_checkingstore_log
    where detailid = #{detailid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.system.domain.CheckingStore" >
    insert into hrfi_checkingstore_log (detailid, mianid, checkingdate, 
      checkingstatus, supplierid, suppliername, 
      paymethod, validmoney, storebalance, 
      rechargemoney, storeordersmoney, created_time, 
      update_time, cancel_flag)
    values (#{detailid,jdbcType=VARCHAR}, #{mianid,jdbcType=VARCHAR}, #{checkingdate,jdbcType=VARCHAR}, 
      #{checkingstatus,jdbcType=INTEGER}, #{supplierid,jdbcType=VARCHAR}, #{suppliername,jdbcType=VARCHAR}, 
      #{paymethod,jdbcType=VARCHAR}, #{validmoney,jdbcType=DECIMAL}, #{storebalance,jdbcType=DECIMAL}, 
      #{rechargemoney,jdbcType=DECIMAL}, #{storeordersmoney,jdbcType=DECIMAL}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{cancelFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.system.domain.CheckingStore" >
    insert into hrfi_checkingstore_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailid != null" >
        detailid,
      </if>
      <if test="mianid != null" >
        mianid,
      </if>
      <if test="checkingdate != null" >
        checkingdate,
      </if>
      <if test="checkingstatus != null" >
        checkingstatus,
      </if>
      <if test="supplierid != null" >
        supplierid,
      </if>
      <if test="suppliername != null" >
        suppliername,
      </if>
      <if test="paymethod != null" >
        paymethod,
      </if>
      <if test="validmoney != null" >
        validmoney,
      </if>
      <if test="storebalance != null" >
        storebalance,
      </if>
      <if test="rechargemoney != null" >
        rechargemoney,
      </if>
      <if test="storeordersmoney != null" >
        storeordersmoney,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="cancelFlag != null" >
        cancel_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailid != null" >
        #{detailid,jdbcType=VARCHAR},
      </if>
      <if test="mianid != null" >
        #{mianid,jdbcType=VARCHAR},
      </if>
      <if test="checkingdate != null" >
        #{checkingdate,jdbcType=VARCHAR},
      </if>
      <if test="checkingstatus != null" >
        #{checkingstatus,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null" >
        #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="suppliername != null" >
        #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="paymethod != null" >
        #{paymethod,jdbcType=VARCHAR},
      </if>
      <if test="validmoney != null" >
        #{validmoney,jdbcType=DECIMAL},
      </if>
      <if test="storebalance != null" >
        #{storebalance,jdbcType=DECIMAL},
      </if>
      <if test="rechargemoney != null" >
        #{rechargemoney,jdbcType=DECIMAL},
      </if>
      <if test="storeordersmoney != null" >
        #{storeordersmoney,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelFlag != null" >
        #{cancelFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.system.domain.CheckingStore" >
    update hrfi_checkingstore_log
    <set >
      <if test="mianid != null" >
        mianid = #{mianid,jdbcType=VARCHAR},
      </if>
      <if test="checkingdate != null" >
        checkingdate = #{checkingdate,jdbcType=VARCHAR},
      </if>
      <if test="checkingstatus != null" >
        checkingstatus = #{checkingstatus,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null" >
        supplierid = #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="suppliername != null" >
        suppliername = #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="paymethod != null" >
        paymethod = #{paymethod,jdbcType=VARCHAR},
      </if>
      <if test="validmoney != null" >
        validmoney = #{validmoney,jdbcType=DECIMAL},
      </if>
      <if test="storebalance != null" >
        storebalance = #{storebalance,jdbcType=DECIMAL},
      </if>
      <if test="rechargemoney != null" >
        rechargemoney = #{rechargemoney,jdbcType=DECIMAL},
      </if>
      <if test="storeordersmoney != null" >
        storeordersmoney = #{storeordersmoney,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelFlag != null" >
        cancel_flag = #{cancelFlag,jdbcType=INTEGER},
      </if>
    </set>
    where detailid = #{detailid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.system.domain.CheckingStore" >
    update hrfi_checkingstore_log
    set mianid = #{mianid,jdbcType=VARCHAR},
      checkingdate = #{checkingdate,jdbcType=VARCHAR},
      checkingstatus = #{checkingstatus,jdbcType=INTEGER},
      supplierid = #{supplierid,jdbcType=VARCHAR},
      suppliername = #{suppliername,jdbcType=VARCHAR},
      paymethod = #{paymethod,jdbcType=VARCHAR},
      validmoney = #{validmoney,jdbcType=DECIMAL},
      storebalance = #{storebalance,jdbcType=DECIMAL},
      rechargemoney = #{rechargemoney,jdbcType=DECIMAL},
      storeordersmoney = #{storeordersmoney,jdbcType=DECIMAL},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      cancel_flag = #{cancelFlag,jdbcType=INTEGER}
    where detailid = #{detailid,jdbcType=VARCHAR}
  </update>
  <select id="selectByMainID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from hrfi_checkingstore_log csl
    WHERE csl.mianid  = #{mainid}
  </select>
</mapper>