<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-balancewarning-edit-manage" th:object="${manageConfig}">
        <input id="id" name="id" type="hidden" th:field="*{id}"/>
        <input id="configtype" name="configtype" type="hidden" th:field="*{configtype}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">商城负责人职责：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="managejob" id="managejob" th:field="*{configname}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">负责人：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="contacts" id="contacts" th:field="*{contacts}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">负责人邮箱：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="email" id="email" th:field="*{email}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">有效起始时间：</label>
            <div class="col-sm-8">
                <li class="select-time">
                    <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                </li>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">有效结束时间：</label>
            <div class="col-sm-8">
                <li class="select-time">
                    <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                </li>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">

    setTimeout(function ()
    {
        $.ajax(
        {
            type : "POST",
            url : "/fi/balancewarning/getnotextinfo",
            dataType : "JSON",
            data :
                {
                    id : $("#id").val()
                },
            success : function(msg)
            {
                $('#startTime').val(msg.startdate);
                $('#endTime').val(msg.enddate);

            },
            error:function()
            {
                alert("获取数据失败", "error");
            }
        });
    }, 500);

    $("#form-balancewarning-edit-manage").validate({
        rules:{
            managejob:{
                required:true
            },
            contacts:{
                required:true
            },
            email:{
                required:true,
                email:true
            },
            startTime:{
                required:true
            },
            endTime:{
                required:true
            }
        },
        messages: {
            "managejob": {
                required: "负责人职责必填"
            },
            "contacts": {
                required: "负责人必填"
            },
            "email": {
                email: "负责人邮箱可是不正确"
            },
            "startTime": {
                required: "有效起始时间必填"
            },
            "endTime": {
                required: "有效结束时间必填"
            }
        }
    });

    function submitHandler()
    {
        var startTime = $('#startTime').val();
        var endTime = $('#endTime').val();
        if(startTime == "")
        {
            alert("请选择有效起始时间");
        }
        if(endTime == "")
        {
            alert("请选择有效结束时间");
        }
        else if ($.validate.form())
        {
            edit();
        }
    }

    function edit()
    {
        var id = $("#id").val();
        var configtype = $("#configtype").val();
        var managejob = $('#managejob').val();
        var contacts = $('#contacts').val();
        var email = $('#email').val();
        var startdate = $('#startTime').val();
        var enddate = $('#endTime').val();
        $.ajax({
            cache : true,
            type : "POST",
            url : ctx + "fi/balancewarning/editmanageconfig",
            // contentType: "application/json; charset=utf-8",
            dataType : 'json',
            // data : JSON.stringify(data),
            data : {
                "id" : id,
                "configtype" : configtype,
                "configname" : managejob,
                "contacts" : contacts,
                "email" : email,
                "startdate" : startdate,
                "enddate" : enddate
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.operate.saveSuccess(data);
            }
        });
    }
</script>
</body>
</html>