<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-balancewarning-add">
        <div class="form-group">
            <label class="col-sm-3 control-label ">配置类型123：</label>
            <div class="col-sm-8">
                <select id="config_type" style="width:268px;" name="config_type"></select>
            </div>
        </div>





    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    $(function()
    {
        $.ajax(
        {
            type : "POST",
            url : "/fi/balancewarning/config_type",
            dataType : "JSON",
            data : {},
            success : function(msg)
            {
                $("#config_type").append("<option value='0'>请选择</option>")
                for (var i = 0; i < msg.length; i++)
                {
                    $("#config_type").append("<option value="+msg[i].configtype+">"+msg[i].typename+"</option>");
                }
                if(msg.length == 0)
                {
                    $("#config_type").append("<option value='0'>请选择</option>");//添加第一个option值
                    confirm("未查到任何配置类型信息，请联系运维人员。");
                }

            },
            error:function()
            {
                alert("获取数据失败", "error");
            }
        });
    });

    $("#config_type").bind("change",function()
    {
        if($(this).val()=="0001")
        {
            console.log("0001");
            return;
        }
        else if($(this).val()=="0002")
        {
            console.log("0002");
        }
    });

   /* $("#form-balancewarning-add").validate({
        rules:{
            roleName:{
                required:true,
                remote: {
                    url: ctx + "system/role/checkRoleNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "roleName" : function() {
                            return $.common.trim($("#roleName").val());
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            roleKey:{
                required:true,
                remote: {
                    url: ctx + "system/role/checkRoleKeyUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "roleName" : function() {
                            return $.common.trim($("#roleName").val());
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            roleSort:{
                required:true,
                digits:true
            },
        },
        messages: {
            "roleName": {
                remote: "角色名称已经存在"
            },
            "roleKey": {
                remote: "角色权限已经存在"
            }
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            add();
        }
    }

    function add() {
        var roleName = $("input[name='roleName']").val();
        var roleKey = $("input[name='roleKey']").val();
        var roleSort = $("input[name='roleSort']").val();
        var status = $("input[name='status']").is(':checked') == true ? 0 : 1;
        var remark = $("input[name='remark']").val();
        var menuIds = $.tree.getCheckedNodes();
        $.ajax({
            cache : true,
            type : "POST",
            url : ctx + "system/role/add",
            data : {
                "roleName": roleName,
                "roleKey": roleKey,
                "roleSort": roleSort,
                "status": status,
                "remark": remark,
                "menuIds": menuIds
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.operate.saveSuccess(data);
            }
        });
    }*/
</script>
</body>
</html>
