<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-store">
        <div class="form-group">
            <label class="col-sm-3 control-label">员工编号：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="id" id="id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">员工姓名：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="name" id="name" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="company_name" id="company_name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">部门名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="dept" name="dept">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">性别：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="gender" name="gender">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">手机：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="phone" name="phone">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="email" id="email" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">导入日期</label>
            <div class="col-sm-8">
                <li class="select-time">
                    <input type="text" class="time-input" id="startTime"  name="params[beginTime]"/>
                </li>
            </div>
        </div>
        <div class="form-group" hidden="hidden">
            <label class="col-sm-3 control-label">有效结束时间：</label>
            <div class="col-sm-8">
                <li class="select-time">
                    <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                </li>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">

    $.ajax(
        {
            type: "POST",
            url: "/system/hr/selectEmployeeByRedis",
            dataType: "JSON",
            success: function (data) {
                $('#id').val(data.id);
                $('#name').val(data.name);
                $('#company_name').val(data.company);
                $('#dept').val(data.dept);
                $('#gender').val(data.gender);
                $('#phone').val(data.phone);
                $('#email').val(data.email);
                $('#startTime').val(data.entryDate);
                $('#email').val(data.email);;
            },
            error: function () {
                alert("获取数据失败", "error");
            }

        });


    function submitHandler()
    {
        //员工编号不能为空
        if($("#id").val() == null || $("#id").val() == ''){
            alert("员工编号不能为空");
            return;
        }
        //员工姓名不能为空
        if($("#name").val() == null || $("#name").val() == ''){
            alert("员工姓名不能为空");
            return;
        }
        //公司名称不能为空
        if($("#company_name").val() == null || $("#company_name").val() == ''){
            alert("公司名称不能为空");
            return;
        }
        //部门名称不能为空
        if($("#dept").val() == null || $("#dept").val() == ''){
            alert("部门名称不能为空");
            return;
        }
        //性别不能为空
        if($("#gender").val() == null || $("#gender").val() == ''){
            alert("性别不能为空");
            return;
        }
        //手机号不能为空
        if($("#phone").val() == null || $("#phone").val() == ''){
            alert("手机号不能为空");
            return;
        }
        //邮箱不能为空
        if($("#email").val() == null || $("#email").val() == ''){
            alert("邮箱不能为空");
            return;
        }
        //请选择导入日期
        if($("#startTime").val() == null || $("#startTime").val() == ''){
            alert("请选择导入日期");
            return;
        }else{
            edit();
        }
    }

    //员工新增
    function edit()
    {
        var id = $('#id').val();
        var name = $('#name').val();
        var company_name = $('#company_name').val();
        var dept = $('#dept').val();
        var gender = $('#gender').val();
        var phone = $('#phone').val();
        var email = $('#email').val();
        var export_date = $('#startTime').val();
        var email = $('#email').val();
        $.ajax({
            cache : true,
            type : "POST",
            url : ctx + "system/hr/updateEmployee",
            dataType : 'json',
            data : {
                "id" : id,
                "name" : name,
                "company" : company_name,
                "dept" : dept,
                "gender" : gender,
                "phone" : phone,
                "email" : email,
                "entryDate" : export_date,
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                if(data.code == 0){
                    alert("修改成功！")
                    $.operate.saveSuccess(data);
                }else{
                    alert("请保证数据正确！")
                }

            }
        });
    }
</script>
</body>
</html>
