<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
    <label>发票抬头：</label>
    <select id="companyid" name="companyid" class="{required:true}">
        <option value="">请选择....</option>
    </select>
    <a class="btn btn-success btn-sm" onclick="change()">
        调整
    </a>
</div>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <table id="bootstrap-table" data-mobile-responsive="true"></table>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">

    function change() {
        var data = $("#bootstrap-table").bootstrapTable('getSelections');
        var suppliertype = $("#companyid").val();
        if (suppliertype == null || suppliertype == ''){
            alert("请选择公司！");
            return;
        }
        if (data == null || data == ''){
            alert("请选择订单！");
            return;
        }
        $.ajax(
            {
                type : "POST",
                url : "/system/hr/changeTicketRise",
                dataType : "JSON",
                data : {
                    data : JSON.stringify(data),
                    rise : suppliertype
                },
                success : function(msg)
                {
                    $("#bootstrap-table").bootstrapTable('refresh');
                    alert("调整成功！");
                },
                error:function()
                {
                    alert("获取数据失败", "error");
                }
            });

    }

    //查看发票抬头信息
    $.ajax(
        {
            type : "POST",
            url : "/fi/balancewarning/companylist",
            dataType : "JSON",
            data : {},
            success : function(msg)
            {
                for (var i = 0; i < msg.length; i++)
                {
                    $("#companyid").append("<option value="+msg[i].company_id+">"+msg[i].bank_card_name+"</option>");
                }
                if(msg.length == 0)
                {
                    $("#companyid").append("<option value=''>请选择</option>");//添加第一个option值
                    confirm("未查到任何公司信息，请联系运维人员。");
                }

            },
            error:function()
            {
                alert("获取数据失败", "error");
            }
        });

    //初始化列表
    $(function () {
        var options = {
            url: "/system/hr/listOrders",
            search: false,
            showExport: false,
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'ordersId',
                    title: '订单编号'
                },
                {
                    field: 'company_id',
                    title: '法人体',
                    formatter: function (value, row, index) {
                        var company = value;
                        if( company == '1'){
                            company = "上海新致软件股份有限公司"
                        }
                        if( company == '2'){
                            company = "北京新致君阳信息技术有限公司"
                        }
                        if( company == '3'){
                            company = "西安新致信息技术有限公司"
                        }
                        if( company == '4'){
                            company = "上海新致信息技术有限公司"
                        }
                        if( company == '13'){
                            company = "大连新致软件有限公司"
                        }
                        if( company == '17'){
                            company = "上海新致百果信息科技有限公司"
                        }
                        if( company == '21'){
                            company = "重庆新致金服信息技术有限公司"
                        }
                        if( company == '22'){
                            company = "贵州新致普惠信息技术有限公司"
                        }
                        if( company == '23'){
                            company = "上海新致晟欧软件技术有限公司"
                        }
                        if( company == '24'){
                            company = "上海中件管理咨询有限公司"
                        }
                        if( company == '25'){
                            company = "上海全栈投资中心（有限合伙）"
                        }
                        if( company == '26'){
                            company = "武汉新致信息技术有限公司"
                        }
                        if( company == '27'){
                            company = "上海前置通信技术有限公司"
                        }
                        if( company == '99'){
                            company = "上海全端网络科技有限公司"
                        }
                        return company;
                    }
                },
                {
                    field: 'open_ticket_rise',
                    title: '开票抬头',
                    formatter: function (value, row, index) {
                        var company = value;
                        if( company == '1'){
                            company = "上海新致软件股份有限公司"
                        }
                        if( company == '2'){
                            company = "北京新致君阳信息技术有限公司"
                        }
                        if( company == '3'){
                            company = "西安新致信息技术有限公司"
                        }
                        if( company == '4'){
                            company = "上海新致信息技术有限公司"
                        }
                        if( company == '13'){
                            company = "大连新致软件有限公司"
                        }
                        if( company == '17'){
                            company = "上海新致百果信息科技有限公司"
                        }
                        if( company == '21'){
                            company = "重庆新致金服信息技术有限公司"
                        }
                        if( company == '22'){
                            company = "贵州新致普惠信息技术有限公司"
                        }
                        if( company == '23'){
                            company = "上海新致晟欧软件技术有限公司"
                        }
                        if( company == '24'){
                            company = "上海中件管理咨询有限公司"
                        }
                        if( company == '25'){
                            company = "上海全栈投资中心（有限合伙）"
                        }
                        if( company == '26'){
                            company = "武汉新致信息技术有限公司"
                        }
                        if( company == '27'){
                            company = "上海前置通信技术有限公司"
                        }
                        if( company == '99'){
                            company = "上海全端网络科技有限公司"
                        }
                        return company;
                    }
                },
                {
                    field: 'supplier',
                    title: '供应商',
                    formatter: function (value, row, index) {
                        var supplier = value;
                        if( value == '102' ){
                            supplier = '京东'
                        }
                        return supplier;
                    }
                },
                {
                    field: 'money_num',
                    title: '订单金额'
                },
            ]
        };
        $.table.init(options);
    });


</script>
</body>
</html>
