<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      lang="zh">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list">
                    <ul>
                        <li>
                            月份：<input type="text" name="roleKey"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-primary" onclick="exportTemplet()">
                <i class="fa fa-download"></i> 导出模板下载
            </a>
            <a class="btn btn-primary" id="btnImport" onclick="exports()">
                <i class="fa fa-download">导入</i>
            </a>
            <a class="btn btn-primary btn-rounded btn-sm" onclick="insert()">
                <i class="fa fa-plus"></i> 新增员工
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="update()">
                <i class="fa fa-edit"></i> 修改员工
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="">
                <i class="fa fa-remove"></i> 禁用员工
            </a>
            <input id="excel_file" type="file" name="filename" accept="xls" size="80"/>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">


    //新增员工
    function insert(id) {
        var url = "/system/hr/insertEmployee";
        $.modal.open("新增" + "新增员工信息", url);
    }

    //修改员工
    function update(id) {
        var data = $("#bootstrap-table").bootstrapTable('getSelections');
        console.log(data);
        if (data.length > 1){
            alert("不能多选！");
        }
        $.ajax(
            {
                cache : true,
                type : "POST",
                url : ctx+"system/hr/storeEmployeeByRedis",
                dataType : "JSON",
                data : {
                    "id" : data[0].id,
                    "name" : data[0].name,
                    "company" : data[0].company,
                    "dept" : data[0].dept,
                    "gender" : data[0].gender,
                    "phone" : data[0].phone,
                    "email" : data[0].email,
                    "entryDate" : data[0].entryDate,
                },
                async : false,
            });
        var url = "/system/hr/editEmployee";
        $.modal.open("修改" + "修改员工信息", url);
    }



    //导出
    function exportTemplet() {
        window.location.href="/system/hr/exportEmployee";
    }

    //导入
    function exports() {
        if ($("#excel_file").val() == null || $("#excel_file").val() == '') {
            alert("请先选择一个文件!")
            return
        } else {
            $.ajax(
                {
                    type: "POST",
                    url: "/system/hr/exportDataEmployee",
                    dataType: "JSON",
                    data: {
                        address: $("#excel_file").val()
                    },
                    success: function (msg) {
                        console.log(msg);
                        if (msg.code == 0) {
                            alert("导入数据成功！");
                            $("#bootstrap-table").bootstrapTable('refresh');
                            $("#excel_file").val(null)
                        } else {
                            alert("导入数据失败！请您使用IE浏览器进行导入！");
                        }
                    },
                    error: function () {
                        alert("获取数据失败", "error");
                    }
                });
        }
    }

    //table初始化
    var prefix = ctx + "system/hr"
    $(function () {
        var options = {
            url: prefix + "/employeeList",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '员工编号'
                },
                {
                    field: 'name',
                    title: '员工姓名',
                },
                {
                    field: 'company',
                    title: '公司名称',
                },
                {
                    field: 'dept',
                    title: '部门名称',
                },
                {
                    field: 'gender',
                    title: '性别',
                },
                {
                    field: 'phone',
                    title: '手机',
                },
                {
                    field: 'email',
                    title: '邮箱',
                },
                {
                    field: 'entryDate',
                    title: '导入日期',
                    align: 'center',
                },
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>