<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      lang="zh">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list">
                    <ul>
                        <li>
                            月份：<input type="text" name="roleKey"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-primary" onclick="exportTemplet()">
                <i class="fa fa-download"></i> 导出模板下载
            </a>
            <a class="btn btn-primary" id="btnImport" onclick="exports()">
                <i class="fa fa-download">导入</i>
            </a>
            <input id="excel_file" type="file" name="filename" accept="xls" size="80"/>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">

    //导出
    function exportTemplet() {
        window.location.href="/system/hr/export";
    }


    //导入
    function exports() {
        if ($("#excel_file").val() == null || $("#excel_file").val() == '') {
            alert("请先选择一个文件!")
            return
        } else {
            $.ajax(
                {
                    type: "POST",
                    url: "/system/hr/exportData",
                    dataType: "JSON",
                    data: {
                        address: $("#excel_file").val()
                    },
                    success: function (msg) {
                        console.log(msg);
                        if (msg.code == 0) {
                            $("#bootstrap-table").bootstrapTable('refresh');
                            alert("导入数据成功！");
                        } else {
                            alert("导入数据失败！请您使用IE浏览器进行导入！");
                        }
                    },
                    error: function () {
                        alert("获取数据失败", "error");
                    }
                });
        }
    }

    //table初始化
    var prefix = ctx + "system/newtouch";
    $(function () {
        var options = {
            url: prefix + "/list",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'employee_id',
                    title: '员工编号'
                },
                {
                    field: 'employee_name',
                    title: '员工姓名',
                },
                {
                    field: 'company_name',
                    title: '公司名称',
                },
                {
                    field: 'department_name',
                    title: '部门名称',
                },
                {
                    field: 'rice_money',
                    title: '期间',
                    align: 'center',
                },
                {
                    field: 'welfare_money',
                    title: '福利费',
                },
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>