<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list">
                   <input type="text" id="id" style="width: 200px"/>
                    <a style="margin-top: 5px;" class="btn btn-primary btn-rounded btn-sm" onclick="searchByEmployId()"><i
                            class="fa fa-search"></i>搜索</a>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-primary btn-rounded btn-sm" onclick="openCard()">
                <i class=""></i> 开卡
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">


    //搜索
    function searchByEmployId() {
         var id = $("#id").val();
         if(id == null || id == ''){
             alert("请输入员工编号！");
             return;
         }
        var options = $('#bootstrap-table').bootstrapTable('refresh', {
            url: "/system/hr/openCardDataListById",
            query:
                {
                   id:id
                }
        });
    }
    
    function openCard() {
        var data = $("#bootstrap-table").bootstrapTable('getSelections');
        if (data == null || data == ''){
            alert("请选择一人或多人开卡！");
            return;
        }
        console.log(data);
        $.ajax(
            {
                type : "POST",
                url : "/system/hr/employeeOpenCard",
                dataType : "JSON",
                data : {
                    data : JSON.stringify(data)
                },
                success : function(msg)
                {
                    $("#bootstrap-table").bootstrapTable('refresh');
                    alert("开卡成功！");
                },
                error:function()
                {
                    alert("获取数据失败", "error");
                }
            });
    }

    var prefix = ctx + "system/hr";
    $(function() {
        var options = {
            url: prefix + "/openCardDataList",
            search: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'employeeno',
                    title: '员工编号',
                    visible: false
                },
                {
                    field: 'employeeno',
                    title: '员工编号'
                },
                {
                    field: 'name',
                    title: '员工姓名',
                },
                {
                    field: 'companyName',
                    title: '公司名称',
                },
                {
                    field: 'deptName',
                    title: '部门名称',
                },
                {
                    field: 'statusName',
                    title: '状态',
                },
                {
                    field: 'email',
                    title: '邮箱',
                },
              ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>