<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list">
                    <ul>
                        <li>
                            员工编号：<input type="text" id="id"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="searchByEmployId()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-primary btn-rounded btn-sm" onclick="openCardByElM()">
                <i class="fa fa-plus"></i> 饿了么开卡
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="updateByELM()">
                <i class="fa fa-edit"></i> 饿了么更新
            </a>
            <a class="btn btn-danger btn-del" onclick="deleteByELM()">
                <i class="fa fa-remove"></i> 饿了么删除
            </a>
            <a class="btn btn-primary btn-rounded btn-sm" onclick="openCardByXC()">
                <i class="fa fa-plus"></i> 携程开卡
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">


    //搜索
    function searchByEmployId() {
         var id = $("#id").val();
         if(id == null || id == ''){
             alert("请输入员工编号！");
             return;
         }
        var options = $('#bootstrap-table').bootstrapTable('refresh', {
            url: "/system/hr/openCardDataListById",
            query:
                {
                   id:id
                }
        });
    }

    //携程开卡
    function openCardByXC() {
        $.ajax(
            {
                type : "POST",
                url : "/system/hr/XCOpenCard",
                dataType : "JSON",
                success : function(msg)
                {
                    if(msg.code == 0){
                        $("#bootstrap-table").bootstrapTable('refresh');
                        alert("携程开卡成功！");
                    }else{
                        alert("携程开卡失败！");
                    }
                },
                error:function()
                {
                    alert("获取数据失败", "error");
                }
            });
    }
    
    //饿了么跟新
    function updateByELM() {
        var data = $("#bootstrap-table").bootstrapTable('getSelections');
        if (data == null || data == ''){
            alert("请先选择一名员工！");
            return;
        }
        if(data.length > 1){
            alert("请选择一名员工更新！");
            return;
        }
    }
    
    //饿了么删除
    function deleteByELM() {
        var data = $("#bootstrap-table").bootstrapTable('getSelections');
        if (data == null || data == ''){
            alert("请先选择一名员工！");
            return;
        }
        if(data.length > 1){
            alert("请选择一名员工删除！");
            return;
        }
        $.ajax(
            {
                type : "POST",
                url : "/system/hr/employeeDeleteCard",
                dataType : "JSON",
                data : {
                    data : JSON.stringify(data)
                },
                success : function(msg)
                {

                    if(msg.code == 0){
                        alert("删除成功！");
                        $("#bootstrap-table").bootstrapTable('refresh');
                    }else{
                        alert("删除失败！");
                    }
                },
                error:function()
                {
                    alert("获取数据失败", "error");
                }
            });
    }

    //饿了么开卡
    function openCardByElM() {
        var data = $("#bootstrap-table").bootstrapTable('getSelections');
        if (data == null || data == ''){
            alert("请先选择一名员工！");
            return;
        }
        if(data.length > 1){
            alert("请选择一名员工开卡！");
            return;
        }
        $.ajax(
            {
                type : "POST",
                url : "/system/hr/employeeOpenCard",
                dataType : "JSON",
                data : {
                    data : JSON.stringify(data)
                },
                success : function(msg)
                {
                    console.log(msg);
                    if(msg.code == 0){
                        $("#bootstrap-table").bootstrapTable('refresh');
                        alert("饿了么开卡成功！");
                    }else{
                        alert("饿了么开卡失败！");
                    }
                },
                error:function()
                {
                    alert("获取数据失败", "error");
                }
            });
    }

    var prefix = ctx + "system/hr";
    $(function() {
        var options = {
            url: prefix + "/openCardDataList",
            search: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'employeeno',
                    title: '员工编号',
                    visible: false
                },
                {
                    field: 'employeeno',
                    title: '员工编号'
                },
                {
                    field: 'name',
                    title: '员工姓名',
                },
                {
                    field: 'companyName',
                    title: '公司名称',
                },
                {
                    field: 'deptName',
                    title: '部门名称',
                },
                {
                    field: 'statusName',
                    title: '状态',
                },
                {
                    field: 'email',
                    title: '邮箱',
                },
              ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>