<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
                            <li class="select-time">
                                <label>对账期间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                订单状态：
                                <select id="orderstatus" name="orderstatus">
                                    <option value="invoice" selected="selected">可开票</option>
                                    <option value="all">全部</option>
                                </select>
                            </li>
                            <li>
                                供应商类型：
                                <select id="suppliertype" style="width:268px;" name="suppliertype">
                                </select>
                            </li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="validate()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
        $.ajax(
        {
            type : "POST",
            url : "/fi/orderchecking/storelist",
            dataType : "JSON",
            data : {},
            success : function(msg)
            {
                for (var i = 0; i < msg.length; i++)
                {
                    $("#suppliertype").append("<option value="+msg[i].store_id+">"+msg[i].shop_name+"</option>");
                }
                if(msg.length == 0)
                {
                    $("#suppliertype").append("<option value='0'>请选择</option>");//添加第一个option值
                    confirm("未查到任何供应商信息，请联系运维人员。");
                }

            },
            error:function()
            {
                alert("获取数据失败", "error");
            }
        });

        function validate()
        {
            var startTime = $('#startTime').val();
            var endTime = $('#endTime').val();
            var orderstatus = $("#orderstatus option:selected").val();
            var suppliertype = $('#suppliertype option:selected').val();
            if(startTime == "")
            {
                alert("请选择对账开始时间");
            }
            else if(endTime == "")
            {
                alert("请选择对账结束时间");
            }
            else if(orderstatus == "")
            {
                alert("请选择对账订单类型");
            }
            else if(suppliertype == "")
            {
                alert("请选择供应商类型");
            }
            else
            {
                $.table.search()
            }
        }

		var prefix = ctx + "fi/orderchecking";

        $('#bootstrap-table').bootstrapTable( {
            url: prefix + "/list",
            method: 'post',
            sortName: "order_id",
            modalName: "订单对账",
            search: false,
            showExport: false,
            columns: [
            {
                checkbox: false
            },
            {
                field: 'order_id',
                title: '商城订单号'
            },
            {
                field: 'final_amount',
                title: '订单总额'
            },
            {
                field: 'other_order_id',
                title: '第三方订单号'
            },
            {
                field: 'other_final_amount',
                title: '第三方订单金额'
            },
            {
                field: 'reason',
                title: '说明'
            }]
        });

		/*角色管理-分配数据权限*/
		/*function rule(roleId) {
		    var url = prefix + '/rule/' + roleId;
		    $.modal.open("分配数据权限", url);
		}*/
	</script>
</body>
</html>